.SingleCard {
  position: relative;
}

.SingleCard img {
  width: 100%;
  display: block;
  border: 2px solid gold;
  border-radius: 6px;
}

.SingleCard .front-card {
  position: absolute;
  transform: rotateY(90deg);
  transition: all ease-in 0.2s;
}
.flipped .front-card {
  transform: rotateY(0deg);
  transition-delay: 0.2s;
}

.SingleCard .back-card {
  transition: all ease-in 0.2s;
  transition-delay: 0.2s;
}
.flipped .back-card {
  transform: rotateY(90deg);
  transition-delay: 0s;
}
